*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ccfccb;
}

.title {
  color: #f4c095;
  text-shadow: 2px 2px 4px #1c3144;
  padding: 30px;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

#formContainer {
  margin: 0px auto 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input {
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 20px;
  padding: 3px 20px;
  margin: 0px 10px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #92b192, inset -0.2rem -0.2rem 0.5rem #e1f3e1;
  background: #ccfccb;
  color: #1c3144;
  caret-color: #1c3144;
  border: 2px solid #f4c095;
}

input:focus {
  background: #f4c095;
}

#btnDiv {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.mainBtn {
  font-size: 20px;
  width: 80px;
  background: linear-gradient(to bottom, #ea526f, #aa1933);
  border: none;
  user-select: none;
  color: #fff;
  border-radius: 30px;
  padding: 5px 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 1em rgba(white, 0.5);
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s;
  outline: none;
  margin: 5px;
}
.mainBtn:hover {
  box-shadow: 0 0 25px #ea526f;
}

.mainBtn:active {
  transform: scale(0.9) translateY(5%);
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

#results {
  text-align: center;
  padding: 20px;
  list-style: none;
  width: 400px;
  margin: auto;
}

.resultsPart {
  color: #1c3144;
  padding: 5px;
  display: none;
  justify-content: flex-start;
  align-items: center;
}

.partTitle {
  font-size: 25px;
  padding: 2px;
  width: 160px;
  display: inline-block;
  text-align: left;
}

.hearts {
  width: 30px;
  padding: 2px;
  height: auto;
}

.emptyHearts {
  filter: opacity(0.5);
}

#inside {
  fill: #ee2e31;
}

#daisy {
  width: 100px;
  filter: drop-shadow(0 0 8px #333);
}

.spin {
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#comments {
  display: none;
  text-align: center;
  animation-name: appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    filter: opacity(0);
  }

  to {
    filter: opacity(1);
  }
}

@-webkit-keyframes appear {
  from {
    filter: opacity(0);
  }

  to {
    filter: opacity(1);
  }
}

.emoji {
  width: 30px;
}
